#main-navigation {
  background-color: $d-blue;
  padding: 0 rem(20px);
}
.navbar {
  background-color: $d-blue;
  &.main-nav {
    padding: rem(25px);
  }
  .navbar-toggler {
    border: none;
    &:active {
      outline: none;
    }
    &:focus {
      outline: none;
    }
  }
  .secondary-menu-toggler {
    color: $white;
    @include media-breakpoint-down(lg) {
      display: none;
    }
  }
  .navbar-brand {
    max-width: rem(107px);
    @include media-breakpoint-up(md) {
      margin-left: rem(20px);
    }
    margin-right: rem(10px);

    img {
      vertical-align: inherit;
    }
  }
  .page-title {
    color: $white;
    font-weight: 300;
    padding-top: rem(3px);
  }
  ul.navbar-nav a.nav-link {
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
  }
}
.btn-subscribe {
  @extend .btn-explore;

  @include media-breakpoint-down(xs) {
      display: none;
  }
  color: #FFF;
  border-color: #FFF;
  display: flex;
}

/*************************************/
/******* HEADER - SEARCH *************/
/*************************************/
.navbar-search {
  margin-right: rem(20px);
  input[type=search] {
    padding-left: 10px;
    color: transparent;
    cursor: pointer;
    border: solid 1px #ccc;
  }
  input[type=search]:hover {
    background-color: #fff;
  }
  i {
    color: $white;
    cursor: pointer;
  }
  i:focus + input[type=search] {
    display: inline-flex;
    max-width: rem(105px);
    padding-left: 32px;
    color: #000;
    background-color: #fff;
    cursor: auto;
  }
  input:-moz-placeholder {
    color: transparent;
  }
  input::-webkit-input-placeholder {
  }
}


.breadcrumbs {
  color: #9C9C9C;
  font-size: rem(14px);
  padding-bottom: rem(35px);
  padding-top: rem(35px);
  a {
    color: #9C9C9C;
  }
}