#newsletter2 {
  .nl-title {
    span {
      font-size: inherit;
    }
  }
}

#newsletter {
  padding: rem(30px) 0;
  .wrapper {
    background-color: $nl-teal;
    .bg {
      padding: rem(30px) rem(25px) rem(65px);
      margin-bottom: rem(-15px);
      background-image: url("../assets/images/mobile-pigeon.png");
      background-position: bottom right;
      background-repeat: no-repeat;
      @include media-breakpoint-up(md) {
        padding: rem(30px) 0 !important;
        margin: rem(-30px) 0;
        background-image: url("../assets/images/pigeon.png");
        background-position: center center;
        background-size: contain;
      }
      .d-flex {
        @include media-breakpoint-up(md) {
          flex-direction: row !important;
        }
      }
      [class*="col-"] {
        @include media-breakpoint-up(md) {
          padding: rem(50px) 0 rem(50px) 0;
        }
        .nl-title {
          color: $white;
          font-size: rem(36px);
          margin-bottom: rem(20px) !important;
          @include media-breakpoint-up(md) {
            margin-bottom: 0;
            font-size: rem(48px);
          }
          span {
            font-size: inherit;
          }
        }
      }
    }
    #nl-form {
      flex: 1;
      #nl-email {
        margin-bottom: rem(10px);
        max-height: rem(45px);
        padding: rem(10px) rem(5px);
        border-radius: 3px;
        border: none;
        color: $form-nl;
        @include media-breakpoint-up(md) {
          margin-bottom: rem(20px);
          text-align: center;
          max-height: rem(50px);
          padding-top: rem(15px);
          padding-bottom: rem(15px);
        }
      }
      .btn-nl {
        max-width: rem(180px);
        padding: rem(10px) rem(15px);
        max-height: rem(45px);
        line-height: 1;
        border: 2px solid #FFFFFF;
        border-radius: 3px;
        font-weight: 900;
        background-color: transparent;
        font-size: rem(16px);
        color: #FFFFFF;
        text-align: center;
        @include media-breakpoint-up(md) {
          padding-top: rem(15px);
          padding-bottom: rem(15px);
          width: 100%;
          max-width: 100%;
          max-height: rem(50px);
        }
      }
    }
  }
}
#newsletter-small {
  position: relative;
  max-width: rem(375px);
  margin: 0 auto;
  .bg-wrapper {
    position: relative;
    padding: rem(30px) rem(25px) rem(50px) rem(25px);
    background: $nl-teal;
  }

  img {
    position: absolute;
    bottom: rem(-10px);
    width: auto;
    right: 0;
    pointer-events: none;
    z-index: 999;
  }
  .headline {
    font-size: rem(36px);
    margin-bottom: rem(20px);
    letter-spacing: 0.2px;
    text-align: left;
    line-height: 37px;
  }
}