

//Social buttons

.social {
  margin-bottom: rem(20px);
  h6 {
    font-size: rem(18px);
  }
  a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: rem(35px);
    height: rem(35px);
    text-align: center;
    text-decoration: none;
    margin: rem(5px) rem(2px);
    border-radius: 50%;
    &:hover {
      opacity: 0.7;
    }
  }
  .facebook {
    background: #3B5998;
    color: white;
  }

  .twitter {
    background: #55ACEE;
    color: white;
  }

  .google {
    background: #dd4b39;
    color: white;
  }

  .linkedin {
    background: #007bb5;
    color: white;
  }
  .reddit {
    background: #ff5700;
    color: white;
  }
}

.btn-explore {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  color: $white;
  border: rem(2px) solid $white;
  text-align: center;
  border-radius: rem(3px);
  font-size: rem(13px);
  letter-spacing: rem(0.07px);
  line-height: 1;
  font-weight: bold;
  width: fit-content;
  width: -moz-fit-content;
  height: rem(35px);
  padding: rem(8px) rem(25px);
  @include media-breakpoint-up(md) {
    height: rem(45px);
  }
  &:hover {
    background-color: $white !important;
    color:  $d-blue !important;
    border-color: $white;
  }
  &:focus,
  &:active {
    outline: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }
}