input, textarea, .form-control {
  border-radius: rem(3px) !important;
  border: none !important;
  &:active,
  &:focus {
    outline: none !important;
    border: none !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #b0b0b0 !important;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #b0b0b0 !important;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: #b0b0b0 !important;
}
