.sidebar,
.featured,
.filter-list {
  @include media-breakpoint-down(md) {
    padding-top: rem(35px);
    padding-bottom: rem(35px);
  }
}
.news-section {
  padding-top: rem(55px);
  padding-bottom: rem(55px);
  @include media-breakpoint-down(md) {
    padding-top: rem(35px) !important;
    padding-bottom: rem(35px) !important;
  }
  .headline {
    @include media-breakpoint-down(md) {
      font-size: rem(24px) !important;
    }
  }
}
.featured {
  &.col-md-6 {
    .meta {
      margin-bottom: rem(10px);
    }
    .title {
      font-size: rem(16px);
      font-family: $mont !important;
      font-weight: 800;
    }
  }
  article {
    margin-bottom: 0;
  }
  .meta {
    margin-bottom: rem(10px);

    @include media-breakpoint-up(lg) {
      margin-bottom: rem(25px);
    }
  }
  .title {
    font-family: $anton;
    font-size: rem(36px);
    text-decoration: none;
    line-height: 1;
    color: $d-blue !important;

    @include  media-breakpoint-up(lg) {
      font-size: rem(42px);
    }
  }
  .text {
    font-weight: 300;

    font-size: rem(17px);

    @include  media-breakpoint-up(xs) {
      font-size: rem(16px);
    }
  }
  .read-more {
    font-weight: 300;
    text-decoration: none;
  }
}
.featured-side {
  .card-body {
    padding-top: rem(10px);
    .meta {
      margin-bottom: rem(10px);
    }
    .text {
      margin-bottom: rem(30px);
    }
    @include media-breakpoint-up(lg) {
      padding-top: rem(25px);
      padding-bottom: rem(25px);
      .meta {
        margin-bottom: rem(20px);
      }
      .text {
        margin-bottom: rem(30px);
      }
    }
  }
}

.article-list {
  article {
    margin-bottom: rem(20px);
    h5.title {
      font-family: $mont !important;
      a {
        font-family: $mont !important;
        font-weight: 900;
        display: block;
      }
    }
    img {
      max-width: rem(100px);
    }
    &:last-child {
      margin-bottom: 0;
    }
    .btn-link {
      @include media-breakpoint-down(md) {
        display: none;
      }
    }
  }
  &.medium-al {
    article {
      img {
        max-width: 100%;
      }
    }
  }
  &.expanding-al {
    .title {
      font-size: rem(17px) !important;
      @include media-breakpoint-up(md) {
        font-size: rem(22px) !important;
        font-weight: 800;
        font-family: $mont;
      }
      @include media-breakpoint-up(md) {
        font-size: rem(24px) !important;
      }
    }
    .image {
      width: 100%;
      img {
        max-width: 100%;
      }
    }
  }
  &.link-al {
    article {
      margin-bottom: 0;
      border-bottom: 2px solid #dddddd;
      padding: rem(25px) 0;
      &:first-of-type {
        padding-top: 0;
      }
    }
    .image {
      display: none;
    }
    .meta {
      display: none !important;
    }
  }
}
// Explore Plants and Animals

#explore {

  @include  media-breakpoint-up(lg) {
    padding-top: rem(55px);
  }

  .text {
    padding-top: rem(45px);
    padding-bottom: rem(40px);
    @include media-breakpoint-up(md) {
      padding-top:  rem(65px);
      padding-bottom:  rem(85px);
    }
    @include media-breakpoint-up(lg) {
      padding-top:  rem(75px);
      padding-bottom:  rem(65px);
    }
    h1 {
      color: $white;
      font-size: rem(64px);
      line-height: rem(61px);
      margin-bottom: rem(15px);
      @include media-breakpoint-up(md) {
        margin-bottom: rem(25px);
      }
      @include media-breakpoint-up(lg) {
        margin-bottom: rem(35px);
      }
    }
  }
  .bg {
    padding-top: rem(10px);
    margin-top: rem(-10px);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right 20px bottom;
    @include  media-breakpoint-up(md) {
      padding-top: 0;
      margin-top: 0;
      background-position: right 8px bottom;
    }
    @include  media-breakpoint-up(lg) {
      padding-top: rem(55px);
      margin-top: rem(-55px);
    }
  }
  .plants {
    background: $l-green;
    .bg {
      background-image: url("../assets/images/explore-plants.png");
      @include media-breakpoint-down(lg) {
        background-image: url("../assets/images/green-plant.png");
      }
    }
    .text {
      padding-left: rem(35px);
      @include media-breakpoint-up(md) {
        padding-left: rem(30px);
      }
      @include media-breakpoint-up(lg) {
        padding-left: rem(135px);
      }
    }
  }
  .animals {
    background: $brickred;
    .bg {
      background-image: url("../assets/images/explore_animals_img@2x.png");
      @include media-breakpoint-down(lg) {
        background-image: url("../assets/images/flamingos.png");
      }
      @include media-breakpoint-down(sm) {
        background-position: left 20px bottom;
      }
    }
    .text {
      text-align: right;
      @include media-breakpoint-up(md) {
        padding-left: rem(30px);
      }
      @include media-breakpoint-up(lg) {
        padding-left: rem(75px);
      }
    }
    .btn-explore {
      margin-left: auto;
      @include media-breakpoint-up(md) {
        margin-left: unset;
      }
    }
  }
}
//Plantsnap
#plantsnap {
  padding-bottom: rem(35px);

  @include media-breakpoint-up(md) {
    padding-bottom: rem(70px);
    padding-top: rem(40px);
  }
  @include media-breakpoint-up(lg) {
    padding-top: rem(40px);
  }
  .bg-wrapper {
    background: url("../assets/images/plantsnap/plantsnap_bg@3x.jpg") no-repeat center center;
  }
  .bg {
    background: url("../assets/images/plantsnap/iPhone-bg-mobile.png") no-repeat right bottom rem(-25px);
    padding-bottom: rem(95px);
    background-size: 50%;
    margin-bottom: rem(-25px);
    @include media-breakpoint-up(md) {
      background: url("../assets/images/plantsnap/iPhone-bg-tablet.png") no-repeat center right;
      padding-top: rem(35px);
      margin-top: rem(-35px);
      padding-bottom: rem(70px);
      margin-bottom: rem(-70px);
    }
    @include media-breakpoint-up(lg) {
      background: url("../assets/images/plantsnap/iPhone-bg-desktop.png") no-repeat center center;
      padding-top: rem(40px);
      margin-top: rem(-40px);
      -webkit-background-size: contain;
      background-size: contain;
      padding-top: rem(80px);
    }
  }
  .content {
    padding-top: rem(60px);
    @include media-breakpoint-up(md) {
      padding-bottom: rem(70px);
    }
    @include media-breakpoint-up(lg) {
      padding-top: rem(25px);
    }
    .text {
      .headline {
        margin-bottom: rem(20px);
        @include media-breakpoint-up(md) {
          margin-bottom: rem(25px);
        }
        @include media-breakpoint-up(lg) {
          margin-bottom: rem(15px);
        }
      }
      p {
        color: $white;
        margin-bottom: rem(25px);

        @include media-breakpoint-up(md) {
          margin-bottom: rem(30px);
        }
      }
    }
    .store-buttons {
      a {
        margin-bottom: rem(20px);
        width: rem(180px);
        height: rem(55px);
        &:last-of-type {
          margin-bottom: 0;
          margin-right: 0;
        }
        @include media-breakpoint-between(md,lg) {
          margin-right: rem(12px);
          margin-bottom: 0;
        }
        @include media-breakpoint-up(lg) {
          margin-right: 0;
          margin-bottom: rem(20px);
        }
      }
    }
  }
}

#animal-friends {
  background: $black;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: rem(60px);
  padding-bottom: rem(80px);
  .title {
    color: $l-red !important;
  }
  .headline {
    margin-top: rem(35px);
    margin-bottom: rem(25px);
  }
  .text {
    font-weight: 300;
    color: #fff;
  }
  .btn-cta {
    @extend .btn-explore;
    height: auto !important;
    padding: rem(15px) rem(25px) !important;
  }
}

#from-the-web {
  .category {
    color: $d-blue;
  }
  article {
    margin-bottom: rem(20px);

    .title {
      font-size: rem(16px) !important;
    }
  }
}

.ad {
  position: relative;
}
//Styling for single-post pages

.details-section {
  .card-img-overlay {
    bottom: rem(-10px) !important;
    left: rem(12px);
    top: unset;
  }
  .category {
    &.subtitle {
      font-size: rem(24px) !important;
      color: $brickred;
    }
    &.badge {
      color: $white;
      font-size: rem(14px) !important;
      padding: rem(5px);
    }
  }
  p {
    a {
      color: inherit;
    }
  }
  .info-table {
    margin-bottom: rem(40px);
    .row {
      &.tr {
        padding: rem(20px) 0;
        border-bottom: 1px solid $meta-grey;
      }
      &:last-of-type {
        border-bottom: none;
      }
    }
    .th {
      span {
        color: #b6b6b6;
        font-weight: 700;
      }
    }
    .td {
      padding-left: rem(30px);
      span {
        font-weight: 300 !important;
      }
    }
  }
}

.user-info {
  margin: rem(15px) 0;
  .avatar {
    img {
      width: rem(55px);
      height: rem(55px);
    }
  }
  .details {
    padding-left: rem(15px);
    p {
      font-weight: 300;
      margin: 0;
      a {
        color: inherit;
        font-weight: 700;
      }
    }
  }
}

.comment-form {
  label {
    font-weight: 800;
    color: $red;
  }
  textarea {
    border: 1px solid #cbcbcb !important;
  }
  .btn-comment {
    position: absolute;
    right: rem(10px);
    bottom: rem(10px);
    color: $white;
    background-color: $l-blue;
    font-weight: 800;
    line-height: 22px;
    width: rem(75px);
    height: rem(32px);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    &:hover {
      background-color: darken($l-blue, 10%);
    }
  }
}

.slider-actions {
  a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: rem(35px);
    height: rem(35px);
    color: $white;
    background: rgba(8,22,59,.15);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    &:hover {
      background: rgba(8,22,59,1);
    }
  }
}
.pagination {
  margin-bottom: 0;
  .page-item {
    &.active {
      .page-link {
        color: $d-blue;
        background-color: #eaeaea;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        text-align: center;
      }
    }
    &:last-of-type {
      .page-link {
        margin-right: 0;
      }
    }
    .page-link {
      color: $l-blue !important;
      border: none;
      margin-right: rem(25px);
    }
  }
}

.filter-list {
  //margin-bottom: rem(70px);
  .category {
    color: $yellow !important;
  }
  .card {
    margin-bottom: rem(20px);
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  .slide {
    .title {
      font-size: rem(16px) !important;
      font-family: $mont !important;
      font-weight: 800;
    }
    .card-img-overlay {
      right: rem(8px);
      left: unset;
      top: unset;
      bottom: rem(8px);
      &.slider-actions {
        margin: 0;
        padding: 0;
      }
    }
  }
  .pagination {
    margin-top: rem(35px);
  }
}