#animal-otd {
  .headline {
    &.accent-title {
      color: $brickred !important;
    }
  }
  .category {
    color: $lime;

    &.badge {
      color: $white;
      background: $brickred;
    }
  }
}

.animal-listing {
  .filter-container {
    background: $brickred;
    padding: rem(35px);
    margin-bottom: rem(35px);
    .filter-buttons {
      span {
        color: $white;
        font-weight: 700;
        margin-right: rem(35px);
        &:last-of-type {
          margin-right: 0;
        }
        &.active {
          color: $d-blue;
        }
      }
    }
  }
}