.explore-animals {
  .animals-breadcrumb {
    color: #9C9C9C;
    font-size: 14px;
    a {
      color: #9C9C9C;
      font-size: 14px;
    }
    padding-bottom: 35px;
  }
  h1.title {
    color: #B28E8D;
    font-size: 72px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  .animal-image {
    position: relative;
    padding: 0;
    .date {
      color: #9C9C9C;
      font-size: 14px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .news-title {
      color: #18193D;
    }
  }
  .highlight-ribbon.background-brown {
    position: absolute;
    padding: 15px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    top: 15px;
    left: 0;
    background-color: #B28E8D !important;
  }
  .animal-news {
    article.top-story {
      margin-bottom: 20px;
    }
    .section-title {
      color: #C5D072;
      text-transform: uppercase;
      font-size: 20px;
      font-weight: bold;
    }
    .article-category-date {
      color: #9C9C9C;
      padding-bottom: 10px;
      .category {
        padding-left: 0;
      }
    }
    .article-title {
      font-weight: bold;
    }
  }
}

.animal-listing {
  margin-top: 80px;
  .filter-container {
    margin-bottom: 30px;
    background-color: #B28E8D;
    padding: 30px;
    font-weight: bold;
    .filter-title.active {
      color: #1B1D41;
    }
    .filter-title {
      color: #ffffff;
      margin-right: 35px;
    }
    .searchbar-super-container {
      text-align: right;
      .searchbar-container {
        input {
          background-color: #B28E8D;
          border: 0;
        }
        input::placeholder {
          color: #ffffff;
        }
        .fa-search {
          color: #ffffff;
        }
      }
    }
  }
  .animals-images {
    .title {
      font-weight: bold;
      margin-top: 15px;
    }
  }
}

.pagination-container > div {
  padding-left: 0;
  padding-right: 0;
}

.pagination {
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
  > li > {
    a, span {
      position: relative;
      float: left;
      padding: 6px 12px;
      margin-left: -1px;
      line-height: 1.42857143;
      color: #337ab7;
      text-decoration: none;
      background-color: #fff;
    }
  }
}

.animal-videos-container {
  margin-top: 70px;
  margin-bottom: 110px;
  .section-title {
    color: #AB85D8;
    font-weight: bold;
    text-transform: uppercase;
  }
  .date {
    color: #9C9C9C;
    font-size: 14px;
  }
  .article-title {
    color: #18193D;
    font-weight: bold;
  }
  .article-category-date {
    padding-bottom: 10px;
    .category {
      padding-left: 0;
      color: #9C9C9C;
    }
  }
}
