#animal-otd {
  .headline {
    &.accent-title {
      color: $brickred !important;
    }
  }
  .category {
    color: $lime;

    &.badge {
      color: $white;
      background: $brickred;
    }
  }
}