#contact {
  background-color: $contact-grey;
  margin-bottom: rem(-30px);
  >.container {
    @include media-breakpoint-between(md,lg) {
      padding: 0 rem(10px);
    }
  }
  .accent-title {
    color: $contact-grey;
    background: $white;
  }
  .wrapper {
    padding: rem(50px) 0;

    #contact-form {
      margin-bottom: rem(40px);

        .form-group {
          margin-bottom: rem(20px);

          label {
            color: $black;
            font-weight: 300;
            margin-bottom: rem(5px);
          }
        }
        .btn-contact {
          width: rem(177px);
          height: rem(50px);
          border-radius: rem(3px);
          font-weight: 800;
          margin: 0 auto;
        }
      }
    .address-col {
      flex-direction: column;

      address {
        font-weight: 300;
        margin-bottom: rem(30px);

        .subtitle {
          font-size: rem(16px);
          font-family: $mont !important;
          font-weight: 800;
          color: $d-blue;
          text-transform: uppercase;
          margin-bottom: rem(15px);
        }
        color: $black;
        line-height: rem(22px);
        a {
          color: inherit;
        }
      }
      @include media-breakpoint-only(md) {
        flex-direction: row !important;
        address:first-of-type {
          margin-right: rem(35px);
        }
      }
    }
  }
}