/*************************************/
/********** HOME PAGE ****************/
/*************************************/
#notd {
  padding-top: 95px;
  padding-bottom: rem(75px);
}
// Best of day

#best-of-day {

  color: $white !important;
  padding-bottom: rem(60px);

  .header {
    padding: rem(20px) rem(10px) rem(5px) rem(20px);

    .category {
      color: $white;
      font-weight: 400;
    }
    .date {
      font-family: $mont !important;
      font-size: rem(16px);
      font-weight: 300 !important;
    }
  }
  .title {
    font-weight: 800;
    padding-left: rem(20px);
  }
  .video {
    background-color: $purple;
  }
  .image {
    background-color: $yellow;
  }
}

// Explore Plants and Animals

.btn-view-archive {
  color: #FFF;
  border-color: #FFF;
  display: flex;
  font-size: 12px;
  padding: 10px;
}
#environment {
  padding-bottom: rem(25px);
}
#explore {

  padding-bottom: rem(50px);

  .text {
    padding: rem(45px) rem(0) rem(40px) rem(35px);

    h1 {
      color: $white;
    }
  }
  .plants {
    background: $l-green;
    img {
      width: 55%;
      bottom: 0;
      right: 0;
    }
  }
  .animals {
    background: $brickred;
    img {

    }
  }
}

#top-videos {

  padding-bottom: rem(70px);

  .category {
    color: $purple;
  }
  .title {
    font-size: rem(17px);
    font-weight: 800;
    letter-spacing: rem(-0.1px);
  }
}
/* Friends of Animals */

.friends-of-animals {
  background-image: url('../assets/images/partner-campaign.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 297px;
}