/*************************************/
/********** HOME PAGE ****************/
/*************************************/

/* Top Part */

.main-content {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

h2.section-title {
  color: #de3400;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
}

.main-section-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 34px;
  color: #d33b1b;
}

.top-story {
  margin-bottom: 15px;
}

.article-category-date {
  color: #ccc;
  font-weight: bold;
  font-size: 12px;
  .category {
    padding-left: 0;
  }
}

.article-title {
  font-weight: bold;
  font-size: 13px;
}

.news-of-the-day-image {
  padding-left: 0;
  padding-right: 0;
  .news-img {
    margin-bottom: 10px;
  }
}

.highlight-ribbon {
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  padding: 8px;
  position: absolute;
  left: 0;
  top: 15px;
}

.news-title {
  margin-top: 20px;
  color: #18193d;
  font-weight: bold;
}

/* Video and Image of the Day */

.video-image-outer {
  background-color: #18193d;
  height: 250px;
  margin-top: 190px;
}

.video-image-inner {
  position: relative;
  bottom: 150px;
}

.video-image-title {
  h2 {
    text-transform: uppercase;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    float: left;
  }
  img {
    float: right;
    width: 50px;
  }
}

.video-day-details {
  clear: both;
  vertical-align: bottom;
}

.video-day {
  background-color: #c8b6e6;
  margin-right: 30px;
  padding-right: 0;
  video {
    max-width: 100%;
  }
}

.image-day {
  background-color: #fbc100;
  padding: 0;
}

.image-day-container {
  padding: 15px;
}

.image-day img {
  max-width: 100%;
}

.video-day .date, .image-day .date {
  color: #FFF;
  font-size: 12px;
}

.video-day .title, .image-day .title {
  color: #08163b;
  font-size: 14px;
}

.video-day .left-col {
  padding: 15px;
}

.video-image-title {
  padding-top: 15px;
}

.image-day-details {
  clear: both;
}

/* Environment Top Stories */

.environment-stories {
  padding: 15px;
}

.environment-stories-container {
  background-color: #f6f7f9;
  padding: 65px;
  margin-top: 15px;
}

.environment-stories-inner {
  background-color: #fff;
  .top-story-text {
    padding-top: 15px;
    padding-left: 40px;
  }
  .top-stories {
    background-color: #f6f7f9;
  }
}

/* Lifetime Top Stories */

.lifestyle-stories {
  padding-top: 60px;
  margin-bottom: 100px;
  .article-excerpt a {
    margin-top: 15px;
  }
}

/* Explore Plants and Animals */

.explore-plants-animals {
  margin-top: 150px;
  h2.title {
    color: #FFF;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
    width: 50%;
  }
}

.btn-view-archive {
  color: #FFF;
  border-color: #FFF;
  display: flex;
  font-size: 12px;
  padding: 10px;
}

.explore-plants {
  padding: 50px;
  padding-top: 75px;
  padding-left: 8%;
  background-color: #cfe9b1;
  background-repeat: no-repeat;
  background-position: 90%;
  background-size: 40%;
}

.explore-animals {
  background-color: #b78f8e;
  padding: 15px;
  padding-top: 75px;
  padding-right: 8%;
}

.plants-image {
  position: relative;
  img {
    position: absolute;
    bottom: -50px;
    width: 70%;
  }
}

/* Week's Top Stories */

.weeks-top-stories {
  padding-top: 70px;
  padding-bottom: 70px;
}

.week-top-stories-title {
  color: #a67dd5;
}

.top-video {
  padding-right: 30px;
  video {
    max-width: 100%;
  }
}

/* Friends of Animals */

.friends-of-animals {
  background-image: url('../assets/images/partner-campaign.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 297px;
}