/*************************************/
/********** HOME PAGE ****************/
/*************************************/
.sidebar {
  .top-stories {
    ul {
      li {
        margin-bottom: rem(20px);
      }
    }
  }
}
#notd {
  margin-bottom: rem(10px);

  .ad {
    padding: 0 rem(10px);
  }
}
// Best of day

#best-of-day {

  color: $white !important;
  padding-bottom: rem(60px);

  .header {
    padding: rem(20px) rem(10px) rem(5px) rem(20px);

    .category {
      color: $white;
    }
    .date {
      font-family: $mont !important;
      font-size: rem(16px);
      font-weight: 300 !important;
    }
  }
  .title {
    font-family: $mont !important;
    font-weight: 800;
    padding-left: rem(20px);
  }
  .video {
    background-color: $purple;
    margin-bottom: rem(8px);
    @include  media-breakpoint-between(md, lg) {
      margin-bottom: rem(30px);
    }
    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
    }
  }
  .image {
    background-color: $yellow;
  }
}


.btn-view-archive {
  color: #FFF;
  border-color: #FFF;
  display: flex;
  font-size: 12px;
  padding: 10px;
}
#environment {
  margin-bottom: rem(35px);

  .category {
    margin-bottom: rem(20px);
  }

  .featured {
    @include  media-breakpoint-up(md) {
      margin-bottom: rem(30px);

      >.row .card-body {
        padding-top: 0 !important;
      }
    }
  }
}
// Explore Plants and Animals

#explore {

  padding-bottom: rem(50px);

  .text {
    padding: rem(30px) rem(0) rem(40px) rem(30px);

    h1 {
      color: $white;
      font-size: rem(64px);
      line-height: rem(61px);
      margin-bottom: rem(15px);
      @include media-breakpoint-up(md) {
        margin-bottom: rem(100px);
      }
    }
  }
  .plants {
    .bg {
      background-image: url("../assets/images/explore-plants.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: right 20px bottom;
      padding-top: rem(10px);
      @include  media-breakpoint-up(md) {
        padding-top: 0;
        background-position: right 8px bottom;
      }
    }
    .text {
      background: $l-green;
      position: relative;
      z-index: -1;
    }
  }
  .animals {
    background: $brickred;
    img {

    }
  }
}

#top-videos {

  margin-bottom: rem(55px);

  .category {
    color: $purple;
    margin-bottom: rem(20px);
  }
  .video {

    margin-bottom: rem(35px);
    &:last-of-type {
      margin-bottom: 0;
    }
    .title {
      font-size: rem(17px);
      letter-spacing: rem(-0.1px);
    }
  }
}
#lifestyle {
  margin-bottom: rem(35px);
}
/* Friends of Animals */

.friends-of-animals {
  background-image: url('../assets/images/partner-campaign.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 297px;
}
