#image-details {
  .title {
    margin-bottom: rem(20px);
  }
  .meta {
    margin-bottom: rem(10px);
    .user-info {
      margin: 0;
    }
    .download-link {
      display: inline-flex;
      margin-left: rem(15px);
      img {
        width: rem(30px);
        height: rem(30px);
      }
    }
  }
  .social {
    h6 {
      color: $title-grey !important;
      font-size: rem(14px);
    }
  }
  .comments {
    margin-bottom: rem(45px);
    label {
      font-family: $anton;
      font-weight: normal;
      color: $title-grey;
      text-transform: uppercase;
    }
    .form-group {
      margin-bottom: 0;
    }
  }
  .related-galleries {
    .gallery {
      margin-bottom: rem(20px);
      .title {
        margin-bottom: rem(10px);
        a {
          color: $d-blue !important;
          font-size: rem(17px) !important;
        }
      }
    }
  }
  .from-the-web {
    margin-top: rem(20px);
    .category {
      color: $black;
    }
  }
}