.user-container {
  width: 100%;
  .left-user {
    float: left;
    display: inline-block;
  }
  .right-user {
    float: right;
  }
  .user-profile {
    width: auto;
  }
}

.social-icons {
  img {
    width: auto;
  }
}

.related-images-videos {
  margin-top: 125px;
}
