.article-category-date {
  color: #C0C0C1;
  font-size: 12px;
  padding-top: 5px;
}
.news-title {
  font-size: 3rem;
  color: #09173C;
}
.date {
  font-size: 0.75rem;
  line-height: 1rem;
  color: #c9c9c9;
}

#section-2-news {
  margin-top: 35px;
  h2 {
    color: #0C1634;
    font-weight: bold;
  }
  span {
    color: #C0C0C1;
  }
}

#section-3-news {
  h4.category {
    font-size: 2.25rem;
    color: #DE3400 !important;
  }
  margin-top: 110px;
  span {
    font-size: 0.8rem;
    color: #C0C0C1;
  }
}

#section-4-news {
  margin-bottom: 75px;
  h2 {
    color: #0C1634;
    font-weight: bold;
  }
  span {
    color: #C0C0C1;
  }
}

#section-5-news {
  h4.category {
    font-size: 2.25rem;
  }
}

#section-6-news {
  margin-top: 115px;
  h2 {
    color: #0C1634;
    font-weight: bold;
  }
}

#section-7-news {
  margin-top: 160px;
  h2 {
    color: #0C1634;
    font-weight: bold;
  }
}
