.news-title {
  font-size: 3.4rem;
}
#section-2-news {
  h2 {
    color: #0C1634;
    font-weight: bold;
  }
  span {
    color: #C0C0C1;
  }
}

#section-3-news {
  h4 {
    color: #0C1634;
    font-size: 1.2rem;
    font-weight: bold;
  }
  span {
    font-size: 0.8rem;
    color: #C0C0C1;
  }
}

#section-4-news {
  h2 {
    color: #0C1634;
    font-weight: bold;
  }
  span {
    color: #C0C0C1;
  }
}
