.news-details-container {
  .news-details-breadcrumb {
    color: #9C9C9C;
    font-size: 14px;
    a {
      color: #9C9C9C;
      font-size: 14px;
    }
    padding-bottom: 35px;
  }
  .news-of-the-day-image {
    padding: 0;
  }
  .article-category-date {
    padding-top: 15px;
    color: #9C9C9C;
    font-size: 12px;
  }
  .news-title {
    font-weight: bold;
    margin-top: 25px;
    color: #18193D;
  }
  .social-icons {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.user-container {
  padding-top: 35px;
  .user-details {
    padding-left: 10px;
    color: #000000;
  }
  .see-also {
    color: #000000;
    padding-top: 50px;
    a {
      color: #000000;
    }
  }
  .spread-word {
    font-weight: bold;
    padding-right: 10px;
  }
  .leave-comment-container {
    h2 {
      color: #FBD558;
      font-size: 16px;
      display: block;
    }
    .leave-comment {
      position: relative;
    }
    .btn-send-comment {
      position: absolute;
      bottom: 15px;
      right: 15px;
    }
  }
}

.news-right {
  .section-title {
    color: #D33B1B;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
  }
  .top-story {
    margin-bottom: 25px;
  }
}

.article-subtitle {
  font-size: 12px;
  margin-top: 10px;
}

.right-column a {
  text-decoration: none;
  color: #109af1;
}

.date {
  padding: 0;
}

.searchbar-container {
  float: right;
  input[type=text] {
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 15px;
    line-height: 3px;
  }
}

.fa-search {
  color: #109af1;
  font-size: 20px;
}

.pagination-container > div {
  padding-left: 0;
  padding-right: 0;
}

.pagination {
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
  > li > {
    a, span {
      position: relative;
      float: left;
      padding: 6px 12px;
      margin-left: -1px;
      line-height: 1.42857143;
      color: #337ab7;
      text-decoration: none;
      background-color: #fff;
    }
  }
}

.take-action-newsletter {
  .col-left, .col-right {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 25px;
  }
  h2.newsletter-title {
    font-size: 25px;
  }
  &.newsletter-container {
    height: auto;
  }
  .pigeon {
    width: 100%;
    right: 30px;
    bottom: -30px;
    img {
      height: 160px;
      z-index: 99;
      top: 0;
      right: 0;
    }
  }
}

.save-the-earth div:nth-child(1) div {
  text-align: center;
}

.earth-organization {
  background-image: url(../images/save-earth-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  h2 {
    color: #ffffff;
    margin-top: 80px;
  }
  input[type=text] {
    width: 20%;
    padding: 10px;
    text-align: center;
  }
  p {
    color: #ffffff;
  }
  span {
    color: #f47a21;
  }
}

.news-details-related-stories {
  margin-top: 50px;
  .section-title {
    color: #D33B1B;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
  }
  article {
    margin-bottom: 30px;
  }
}

.partner-container {
  background-color: #f47a21;
}

.partner-with-us {
  background-image: url(../images/partnership.png);
  background-size: 80%;
  background-position: right 10px;
  background-repeat: no-repeat;
  height: 450px;
}

.partner-container button {
  background-color: transparent;
  border-color: #ffffff;
  width: 100%;
  &:hover {
    background-color: transparent;
    border-color: #ffffff;
  }
}
