#news-story {
  .from-the-web {
    .category {
      color: $ft-title-grey;
    }
  }

  .related-stories {
    article {
      margin-bottom: rem(30px);
        &:last-of-type {
            margin-bottom: 0;
          }
      .title {
        a {
          font-size: rem(22px) !important;
        }
      }
    }
  }
}