#section-1-news {
    .article-category-date {
      color: #C0C0C1;
      font-size: 12px;
    }
    .news-title {
      font-size: 3rem;
      color: #09173C;
    }
}

#section-2-news {
  margin-top: 35px;
  h2 {
    color: #0C1634;
    font-weight: bold;
  }
  span {
    color: #C0C0C1;
  }
}

#section-3-news {
  margin-top: 110px;
  .title {
    color: #DE3400 !important;
    font-weight: bold;
  }
  h4 {
    color: #0C1634;
    font-size: 1.2rem;
    font-weight: bold;
  }
  span {
    font-size: 0.8rem;
    color: #C0C0C1;
  }
}

#section-4-news {
  margin-bottom: 75px;
  h2 {
    color: #0C1634;
    font-weight: bold;
  }
  span {
    color: #C0C0C1;
  }
}
