#slide-otd {
  .title {
    margin-bottom: rem(15px);
  }
  .featured {
    margin-bottom: rem(70px);
  }
  .category {
    &.badge {
      background: $yellow !important;
    }
  }
  .slider-actions {
    margin: rem(15px) 0;
  }
  p {
    &.item {
      font-weight: 800;
    }
  }
}
