#take-action-menu {
  .page-title {
    color: $orange !important;
  }
}
#next-event {
  h4.category {
    color: $orange !important;

    &.badge {
      color: $white !important;
      background: $orange;
    }
  }
}

#organization-list {
  padding: rem(50px) 0 rem(70px) 0;
  margin-bottom: rem(25px);
  .organization {
    margin-bottom: rem(25px);
    .meta {
      padding-top: rem(10px);
      .title {
        font-size: rem(24px);
        font-family: $mont !important;
        font-weight: 800;
        margin-bottom: rem(20px);
        @include media-breakpoint-down(lg) {
          font-size: rem(18px);
        }
        @include media-breakpoint-down(md) {
          font-size: rem(18px);
        }
      }
      a {
        font-size: 16px;
        color: $black;
        &.mail {
          margin-bottom: rem(5px);
        }
        &.phone {
          margin-bottom: rem(10px);
          color: $grey;
          font-weight: 900;
        }
      }
    }
  }
}
#save-earth {
  padding: rem(85px) 0 rem(140px) 0;
  background: url("../assets/images/save_earth_bg@2x.jpg") center center no-repeat;
  -webkit-background-size: cover;
  background-size: cover !important;
  @include media-breakpoint-down(lg) {
    background: url("../assets/images/save_earth_tablet@2x.jpg")
  }
  @include media-breakpoint-down(md) {
    background: url("../assets/images/save_earth_mobile@2x.jpg");
  }
  .headline {
    margin-bottom: rem(15px);
    font-size: rem(42px) !important;
    span {
      color: $orange !important;
      @include media-breakpoint-down(lg) {
        color: $yellow !important;
      }
      font-size: inherit !important;
      font-weight: normal;
    }
  }
  p {
    color: $white;
    font-weight: 300;
    margin-bottom: rem(50px);
  }

  .form-group {
    max-width: rem(325px);
    margin: 0 auto !important;
    @include media-breakpoint-down(md) {
      max-width: rem(300px);
    }

    input {
      height: rem(50px);
      color: #000
    }
  }
}
#partnership {
  background: $orange !important;
  padding: rem(75px) 0 rem(90px) 0;
  @include media-breakpoint-down(md) {
    order: 1;
  }
  #partnership-form {
    input,
    .btn-parnership {
      height: 50px;
    }
    .btn-partnership {
      @extend .btn-explore;
      background: none !important;
    }
  }
}