/*************************************/
/************ HEADER *****************/
/*************************************/

.navbar-main .navbar-brand {
	width: 20%;
}

.navbar-main .navbar-brand img {
	vertical-align: inherit;
}

.navbar-main {
	background-color: #08163b;
}

.navbar-main ul.navbar-nav a.nav-link {
	text-transform: uppercase;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
}

.btn-subscribe {
	color: #FFF;
	border-color: #FFF;
	display: flex;
}

/*************************************/
/******* HEADER - SEARCH *************/
/*************************************/

.search {
  position: relative;
  height: 3rem;
  margin: 25px auto;
	margin-right: 15px;
}

.search-box {
  float: right;
  width: 100%;
  height: 100%;
  border: 0;
  outline: 0;
  padding-left: 0.75rem;
  font-style: italic;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 0;
  -webkit-transition: -webkit-transform ease 500ms;
  transition: -webkit-transform ease 500ms;
  transition: transform ease 500ms;
  transition: transform ease 500ms, -webkit-transform ease 500ms;
}
.search-box:focus {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
.search-box:focus + .search-box-label {
  z-index: -1;
  opacity: 0;
}
.search-box:focus ~ .search-close {
  z-index: 3;
  opacity: 1;
}

.search-box-label,
.search-close {
  position: absolute;
  right: 0;
  z-index: 2;
  cursor: pointer;
  height: 100%;
  width: 3rem;
  -webkit-transition: opacity ease 250ms 250ms;
  transition: opacity ease 250ms 250ms;
}

.search-close {
  opacity: 0;
  z-index: 0;
}

.search-icon,
.search-close-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 22 22' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><defs><path fill='#de3400' d='M15.477 13.356C16.437 11.98 17 10.306 17 8.5 17 3.806 13.194 0 8.5 0S0 3.806 0 8.5 3.806 17 8.5 17c1.805 0 3.48-.563 4.855-1.522l6.304 6.303c.114.12.3.12.42 0l1.7-1.696c.116-.116.11-.31 0-.423l-6.305-6.303zM8.5 15c3.59 0 6.5-2.91 6.5-6.5S12.09 2 8.5 2 2 4.91 2 8.5 4.91 15 8.5 15z' id='a'/></defs><g fill='none' fill-rule='evenodd'><use xlink:href='#a'/></g></svg>");
}

.search-close-icon {
  background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'><path fill='#de3400' d='M77.6 21.1l-28 28.1-28.1-28.1-1.9 1.9 28 28.1-28 28.1 1.9 1.9L49.6 53l28 28.1 2-1.9-28.1-28.1L79.6 23z'/></svg>");
}

.search {
  content: "";
  display: flex;
  clear: both;
}

.search-icon,
.search-close-icon {
  text-indent: 100%;
  overflow: hidden;
}

.search-icon,
.search-close-icon {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
}

/*************************************/
/********** HOME PAGE ****************/
/*************************************/

/* Top Part */

.main-content {
	margin-top: 30px;
}

h2.section-title {
	color: #de3400;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
}

.main-section-title {
	text-transform: uppercase;
  font-weight: bold;
  font-size: 34px;
	color: #d33b1b;
}

.top-story {
	margin-bottom: 15px;
}

.article-category-date {
	color: #ccc;
	font-weight: bold;
	font-size: 12px;
}
.article-category-date .category {
	padding-left: 0;
}
.article-title {
	font-weight: bold;
	font-size: 13px;
}
.news-of-the-day-image {
	padding-left: 0;
	padding-right: 0;
}
.news-of-the-day-image .news-img {
	margin-bottom: 10px;
}
.highlight-ribbon {
	text-transform: uppercase;
	background-color: #d33b1b;
	color: #fff;
	font-weight: bold;
	font-size: 18px;
	padding: 8px;
	position: absolute;
	left: 0;
	top: 15px;
}
.news-title {
	margin-top: 20px;
	color: #18193d;
	font-weight: bold;
}

/* Video and Image of the Day */
.video-image-outer {
	background-color: #18193d;
	height: 250px;
	margin-top: 190px;
}
.video-image-inner {
	position: relative;
	bottom: 150px;
}
.video-image-title h2 {
  text-transform: uppercase;
  color: #FFF;
  font-size: 16px;
  font-weight: bold;
  float: left;
}

.video-image-title img {
  float: right;
  width: 50px;
}

.video-day-details {
  clear: both;
  vertical-align: bottom;
}
.video-day {
  background-color: #c8b6e6;
	margin-right: 30px;
	padding-right: 0;
}
.video-day video {
	max-width: 100%;
}
.image-day {
  background-color: #fbc100;
  padding: 0;
}
.image-day-container {
  padding: 15px;
}
.image-day img {
	max-width: 100%;
}
.video-day .date,
.image-day .date {
  color: #FFF;
  font-size: 12px;
}

.video-day .title,
.image-day .title {
  color: #08163b;
  font-size: 14px;
}
.video-day .left-col {
  padding: 15px;
}
.video-image-title {
	padding-top: 15px;
}
.image-day-details {
  clear: both;
}

/* Environment Top Stories */
.environment-stories {
	padding: 15px;
	background-color: #f6f7f9;
	margin-top: 15px;
}
.environment-stories-inner {
	background-color: #fff;
}
.environment-stories-inner .top-story-text {
	padding-top: 15px;
	padding-left: 40px;
}
.environment-stories-inner .top-stories {
	background-color: #f6f7f9;
}

/* Lifetime Top Stories */
.lifestyle-stories {
	padding-top: 60px;
}
.lifestyle-stories .article-title {
	font-size: 18px;
}
.lifestyle-stories .article-excerpt a {
	margin-top: 15px;
}

/* Explore Plants and Animals */
.explore-plants-animals {
	margin-top: 150px;
}
.explore-plants-animals h2.title {
  color: #FFF;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 50px;
	width: 50%;
}

.btn-view-archive {
  color: #FFF;
  border-color: #FFF;
  display: flex;
	font-size: 12px;
	padding: 10px;
}

.explore-plants {
  padding: 50px;
	padding-top: 75px;
	padding-left: 8%;
  background-color: #cfe9b1;
  background-repeat: no-repeat;
  background-position: 90%;
  background-size: 40%;
}

.explore-animals {
  background-color: #b78f8e;
  padding: 15px;
	padding-top: 75px;
	padding-right: 8%;
}
.plants-image {
	position: relative;
}
.plants-image img {
	position: absolute;
	bottom: -50px;
	width: 70%;
}
/* Week's Top Stories */
.weeks-top-stories {
	padding-top: 30px;
}
.week-top-stories-title {
  color: #a67dd5;
}
.top-video {
	padding-right: 30px;
}

.top-video video {
	max-width: 100%;
}

/* Friends of Animals */
.friends-of-animals {
	background-image: url('../images/partner-campaign.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 297px;
}

/* Newsletter */
.newsletter-container {
	height: 245px;
	background-color: #a0e7d3;
	margin-top: 100px;
}
.newsletter-container .pigeon {
	position: relative;
}

.newsletter-container .pigeon img {
	height: 312px;
	position: absolute;
	top: -35px;
}
