$d-blue: #08163B; //Dark blue for header bg and big headings
$l-blue: #42AFF4; //Read more link blue
$meta-grey: #c9c9c9; //Grey for date and categories
$nl-teal: #99E7D5; //Newsletter section bg
$title-black: #181818; //Black shade for sidebar article titles
$red: #DE3400; //Red color for accents
$l-red: #E46C6C; //Lighter red shade for image backgrounds
$purple: #A485D6; //Titles and background
$yellow: #FBC100; //Bacgkground
$lightggreen: #CFE91B; //Background
$brickred: #B78F8E; //Brown-red background
$ft-title-grey: #CFCFCF; //Grey color for footer column titles
$ft-list-grey: #595959; //Grey color for footer  list items
