@import '../utils/_variables.scss';

html {
  box-sizing: border-box;
  font-size: 100%;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 300!important;
  line-height: $line-height-base;
  overflow-x: hidden;
  background: $bg-gray;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

textarea {
  height: auto;
  min-height: 50px;
}

select {
  width: 100%;
}

[role='button'] {
  cursor: pointer;
}

a {
  text-decoration: none !important;

  &:hover {
    color: (blues, 10%);
  }
}
img {
  -ms-interpolation-mode: bicubic;
  height: auto;
  vertical-align: middle;
  width: 100%;
}

p {
  margin: 0 0 1rem;
}
section {
  width: 100%;
}
.card {
  border: none;
}

.card-img-top {
  border-radius: 0 !important;
}

//Add a "gradient" class to all your elements that have a gradient,
//and add the following override to your HTML to complete the IE9 support:

.gradient {
  filter: none;
}

.main-add {
  background: $white;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid $header-ad-border;
}
.no-gutters-xs {
  &.row {
    @include media-breakpoint-down(md) {
      margin-right: 0 !important;
      margin-left: 0 !important;
    }
  }
}