$mont: "Montserrat", sans-serif;
$anton: "Anton", sans-serif;

body {
  font-family: $mont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,h2.nl-title,h2,h3,h4,.anton {
  /*font-family: $anton !important;*/
}
.headline {
  color: $white;
  line-height: rem(67px);
  //font-weight: 800 !important;
}
h1 {
  &.headline {
    font-size: rem(72px) !important;

    @include media-breakpoint-down(md) {
      font-size: rem(68px) !important;
    }
  }
  &.accent-title {
    letter-spacing: 0;
    line-height: 0.8;
  }
}
h2.headline {
  font-size: rem(48px);
  line-height: rem(49px);
}
h2.title,
h3.title,
h4.title,
h5.title,
h6.title {
  color: $d-blue !important;

  a {
    color: inherit !important;
    font-size: inherit !important;
  }
}

h4 {
  font-size: rem(17px);

  @include media-breakpoint-between(md, lg) {
    font-size: rem(16px);
  }
  @include  media-breakpoint-up(lg) {
    font-size: rem(14px);
  }
}
p, span, a {
  font-size: rem(17px);

  @include  media-breakpoint-up(xs) {
    font-size: rem(16px);
  }

}
p {
  line-height: rem(23px);
}

a {

  &.title {
    padding-top: rem(10px);
    font-weight: 800;
  }
  color: black;
  span {
    font-weight: 300;
    display: inline-block;
    margin-top: rem(25px);
  }
}
.meta {
  .tag, .date {
    font-size: rem(11px);
    line-height: rem(16px);
    color: $meta-grey-dark;
    font-weight: 300;
  }
  .tag {
    text-transform: uppercase;
    font-weight: 800;
  }
}
//Category headings
h3, h4 {
  &.category {
    text-transform: uppercase;
    color: $red;
    margin-bottom: rem(25px) !important;
  }

  &.badge {
    background-color: $red;
    color: $white;
    padding: rem(7px) rem(10px) rem(7px) rem(10px);
    font-weight: normal;
  }
}
h3.category {
  font-size: rem(20px) !important;
  @include media-breakpoint-up(md) {
    font-size: rem(28px) !important;
  }
  @include media-breakpoint-up(lg) {
    font-size: rem(36px) !important;
  }
}
h4.category {
  font-size: rem(20px) !important;
  @include media-breakpoint-up(md) {
    font-size: rem(22px) !important;
  }
  @include media-breakpoint-up(lg) {
    font-size: rem(24px) !important;
  }
}


h5.title {
  font-size: rem(16px);
  a {
    font-weight: 800;
  }
}

.line-height-11 {
  line-height: rem(55px);
}