$mont: "Montserrat", sans-serif;
$anton: "Anton", sans-serif;

body {
  font-family: $mont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,h3,h4,h5,h6 {
  font-family: $anton !important;
}

h2.title,
h5.title,
h6.title {
  color: $d-blue !important;

  a {
    color: inherit;
  }
}

h4 {
  font-size: rem(17px);

  @include media-breakpoint-between(sm, md) {
    font-size: rem(16px);
  }
  @include  media-breakpoint-up(md) {
    font-size: rem(14px);
  }
}
p, span, a {
  font-size: rem(17px);

  @include  media-breakpoint-up(xs) {
    font-size: rem(16px);
  }
}
p {
  line-height: rem(23px);
}
.meta {
  .tag, .date {
    font-size: rem(12px);
    line-height: rem(16px);
    color: $meta-grey;
  }
  .tag {
    text-transform: uppercase;
    font-weight: 900;
  }
}
//Category headings
h3, h4 {
  &.category {
    text-transform: uppercase;
    color: $red;
    margin-bottom: rem(20px) !important;
  }

  &.badge {
    background-color: $red;
    color: $white;
    padding: rem(8px) rem(1px) rem(8px) rem(8px);
  }
}
h3.category {
  font-size: rem(28px);
}
h4.category {
  font-size: rem(20px);
}
//Featured article title

.featured {
  .title {
    a {
      font-family: $anton;
      font-size: rem(36px);
      text-decoration: none;
      line-height: 1;

      @include  media-breakpoint-up(md) {
        font-size: rem(42px);
      }
    }
  }
  .text {
    font-weight: 300;

    font-size: rem(17px);

    @include  media-breakpoint-up(xs) {
      font-size: rem(16px);
    }
  }
  .read-more {
    font-weight: 300;
    text-decoration: none;
  }
}

.top-stories {
  .title {
    a {
      font-family: $mont;
      font-weight: 900;
    }
  }
}